#banner {
	width: 100%;
	position: relative;
}

#logo{
	width: 15%;
	transform: translate(5%,5%);
}

* {
	margin : 0;
	padding: 0;
}
#topBanner {
	display: flex;
}

#logo, #topBanner > div, h1, #topBanner > h2 {
	position: absolute;
}

.icon {
	width: 25x;
	height: 25px;
	padding: 5px;
}

body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1 {
	font-size: 300%;
	color: white;
	transform: translate(10%,200%);
	text-align: left;
}


h2{
	font-size: 200%;
	padding: 20px;
}

#topBanner > h2{
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	transform: translate(10%,1100%);
}

p{
	font-size: 150%;
	color: black;
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.place{
	height: 330px;
	width: 330px;
	object-fit: cover;
	border-radius: 20px;
}

.container {
	display: flex;
	justify-content: space-evenly;
}

ol, li {
	list-style-type: none;
	padding: 10px;
	text-align: left;
}

#middleBanner {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#middleBanner > img{
	position: relative;
	width: 1200px;
	border-radius: 20px;
}

#middleBanner > div {
	position: absolute;
	transform: translate(130%, 20%);
}


#bannerText {
	color: white;
	text-align: left;
}

h3{
	font-size: 200%;
}

h4{
	font-size: 150%;
}

#login {
	background-color: white;
	border-radius: 10px;
	width: 80px;
	height: 45px;
	transform: translate(2200%, 80%);
}
